body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
}
.container {
  max-width: 70%;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar {
  text-align: center;
}
.navbar-brand {
  position: absolute;
  left: 15px;
}
.nav-center {
  display: inline-flex;
  left: 0;
  right: 0;
  margin:0;
  float:none;
}
