table.table div.sortable {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table.table div.sortable i {
  width: 13px;
  margin-left: 7px;
  display: inline-block;
}
