{% extends "base.html" %}
{% set active = "clients" %}
{% block body %}
<link href="{{ url_for('static', filename='css/feature_new.css') }}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div class="container">
	<h2 class="form-signin-heading text-xs-center">New Client</h2>
	<form data-bind="submit: submitReq" class="form-signin">

		<label for="inputName" class="sr-only">Name</label>
		<input data-bind="value: name" type="text" id="inputName" 
			class="form-control" placeholder="Name" required autofocus>
		
		<button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
	<script src="{{ url_for('static', filename='js/client_new.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	</form>
</div>
{% endblock %}
