{% extends "base.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/new.css') }}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div class="container">
	<h2 class="form-signin-heading text-xs-center">New Feature</h2>
	<form data-bind="submit: submitReq" class="form-signin">

		<label for="inputTitle" class="sr-only">Title</label>
		<input data-bind="value: title" type="text" id="inputTitle" 
			class="form-control" placeholder="Title" required autofocus>
		
		<label for="inputDescription" class="sr-only">Description</label>
		<textarea data-bind="value: descr" rows="3" id="inputDescription"
			class="form-control" placeholder="Description" required></textarea>

		<div class="row">
			<div class="col-md-8">
				<label for="selectClient" class="sr-only">Description</label>
				<select data-bind="options: clients, value: client,
								   optionsCaption: 'Client...'" id="selectClient"
					class="form-control"required>
				</select>
			</div>
			<div class="col-md-4" style="padding-left: 0px;">
				<label for="inputPriority" class="sr-only">Priotity</label>
				<input data-bind="value: priority" type="number" min="1"
					id="inputPriotity" class="form-control" placeholder="Priotity"
					required>
			</div>
		</div>

		<label for="inputDeadline" class="sr-only">Target Date</label>
		<input data-bind="value: deadline" type="text" id="inputDeadline"
			class="input-group date form-control datepicker" placeholder="Target Date"
			data-provide="datepicker" required>

		<label for="inputURL" class="sr-only">Ticket URL</label>
		<input data-bind="value: url" type="url" id="inputURL" class="form-control"
			placeholder="Ticket URL" required>
		
		<label for="selectProduct" class="sr-only">Produt</label>
		<select id="selectProduct" data-bind="options: prodareas, value: prodarea,
						   optionsCaption: 'Product...'" class="form-control" required>
		</select>
		
		<button type="submit" class="btn btn-lg btn-primary btn-block">Request</button>
	<script src="{{ url_for('static', filename='js/feature_new.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	</form>
</div>
{% endblock %}
