{% extends "base.html" %}
{% block body %}
<link href="{{ url_for('static', filename='css/feature_all.css') }}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<h2 class="features-table-heading text-xs-center">Issues</h2>
	<div class="row">
		<div class="col-lg-6 pull-xs-right filterBar">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-secondary dropdown-toggle"
						id="selectedColumn" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Column
					</button>
					<div class="dropdown-menu" data-bind="foreach: columns">
						<a class="selectColumn dropdown-item" data-bind="html: val">
						</a>
					</div>
				</div>
				<input type="text" class="form-control" placeholder="Filter..."
					data-bind="value: filterTerm">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button"
						data-bind="click: filterColumn">Filter</button>
				</span>
			</div>
		</div>
	</div>
	<div class="table-responsive">
	<table class="table table-bordered table-hover">
	<thead>
		<tr data-bind="foreach: columns">
			<th><div class="sortable" data-bind="click: $root.sortClick.bind(col)">
					<span data-bind="html: val"></span><i data-bind="css: state"></i>
			</div></th>
		</tr>
	</thead>
	<tbody data-bind="foreach: issues">
			<tr class="rowRequest">
				<th data-bind="text: id"></th>
				<td data-bind="text: title"></td>
				<td data-bind="text: description"></td>
				<td data-bind="text: reporter"></td>
				<td data-bind="text: status"></td>
				<td data-bind="text: dateReported"></td>
				<td data-bind="text: dateResolved"></td>
			</tr>
	</tbody>
	<script src="{{ url_for('static', filename='js/issue_all.js') }}"></script>
	</table>
	</div>
{% endblock %}
