{% extends "base.html" %}
{% block body %}
	  <h2 class="form-signin-heading text-xs-center">Open feature requests</h2>
	  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Title</th>
			  <th>Description</th>
			  <th>Client</th>
			  <th>Priority</th>
			  <th>Target date</th>
			  <th>Ticket URL</th>
			  <th>Product area</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>1</td>
			  <td>A feature</td>
			  <td>This is a description of a feature</td>
			  <td>Guilherme Salazar</td>
			  <td>12/01/2016</td>
			  <td>1</td>
			  <td>URL</td>
			  <td>Web app</td>
			</tr>
		  </tbody>
		</table>
	  </div>
{% endblock %}
