{% extends "base.html" %}
{% block body %}
	  <h2 class="form-signin-heading text-xs-center">Feature Requests</h2>
	  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Title</th>
			  <th>Description</th>
			  <th>Client</th>
			  <th>Priority</th>
			  <th>Target date</th>
			  <th>Ticket URL</th>
			  <th>Product area</th>
			</tr>
		  </thead>
		  <tbody data-bind="foreach: requests" />
				<tr>
				<td data-bind="text: id"></td>
				<td data-bind="text: title"></td>
				<td data-bind="text: descr"></td>
				<td data-bind="text: client"></td>
				<td data-bind="text: priority"></td>
				<td data-bind="text: deadline"></td>
				<td data-bind="text: url"></td>
				<td data-bind="text: prodarea"></td>
				</tr>
		  </tbody>
		<script src="{{ url_for('static', filename='js/reqs.js') }}"></script>
		</table>
	  </div>
{% endblock %}
